#!/bin/sh

#1.) Copy this into the folder where you are working
#2.) Change the variables below according to your file names

#Make sure this folder exists
#mkdir /scratch/users/sprehei1@jhu.edu/tmp
#add full path in single quotes below
#has to be the full path (maybe with pwd -P in tmp to see true path). Don't use relative path
export TMPDIR='/home-4/yzhan231@jhu.edu/work/yuezhang/RockCreek/yzhan231_rock_creek_shotgun_p1_analysis/yzhan231_rock_creek_shotgun_p1/tmp'

#path to adapters, should be in db
AD_LOC=/home-4/yzhan231@jhu.edu/work/yuezhang/RockCreek/yzhan231_rock_creek_shotgun_p1_analysis/yzhan231_rock_creek_shotgun_p1/PreheimLab_metagenomics_SOP/db/NexteraPE-PE.fa

#location of zipped raw reads
LIB_DIR=/home-4/yzhan231@jhu.edu/work/yuezhang/RockCreek/yzhan231_rock_creek_shotgun_p1_analysis/yzhan231_rock_creek_shotgun_p1/PreheimLab_metagenomics_SOP/mock/try_trimmomatic/rawreads


#directory where you want to files to be
#should exist
ASSEM=/home-4/yzhan231@jhu.edu/work/yuezhang/RockCreek/yzhan231_rock_creek_shotgun_p1_analysis/yzhan231_rock_creek_shotgun_p1/PreheimLab_metagenomics_SOP/mock/try_trimmomatic/trimmed

echo "Variables imported"
